#myHeader {
    color: darkred;
}


h1 {
    font-size: 48pt;
}
h2 {
    font-family: Bahnschrift, sans-serif;
    font-size: 36pt;
}
h3 {
    font-size: 28pt;
    text-align: center;
    border: 3px solid tomato;
    margin: 8px;
    padding: 4px;
}
h4 {
    font-size: 18pt;
}
h5 {
    font-size: 14pt;
}
h6 {
    font-size: 12pt;
}
p {
    font-size: 18pt;
}
blockquote {
    font-size: 18pt;
    color: #771616;
}
address {
    font-size: 16pt;
}
abbr {
    color: #771616;
}
a {
    font-family: "monospace", monospace;
    font-size: 18pt;
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #0942c2;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
body {
    /*automatyczne dostosowanie wielkości tekstu do ekranu*/
    font-size: 10vw;
    background-color: #d8d5d2;
    margin: 7%;
    font-family: Bahnschrift, sans-serif;
}
table {
    width: 60%;
}
table, th {
    background-color: aquamarine;
    border-collapse: collapse;
    border: 1px solid black;
    font-size: 20pt;
}
table, td {
    border-collapse: collapse;
    border: 1px solid black;
    background-color: transparent;
    text-align: center;
    font-size: 18pt;
}
tr:nth-child(odd) {
    background-color: aliceblue;
}
div {
    background-color: cornflowerblue;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 5px;
}
.uwaga {
    color: azure;
    background-color: #b29595;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 5px;

}