body {
    font-family: "Fira Sans", sans-serif;
        /*automatyczne dostosowanie wielkości tekstu do ekranu*/
    /*font-size: 10vw;*/
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 0%;
}
/*Podział stron*/
.left, .right {
    float: left;
    width: 20%;
    background-color: #d7d7d7;
}

/*automatyczna zmiana ustawienia ekranu na wąskich ekranach*/
@media screen and (max-width: 800px) {
    .left, .main, .right {
        width: 100%;
    }
}
/*DIV SECTIONS ARTICLES*/
div {
}
article {
    background-color: beige;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 1px;
    margin-top: 5px;
}
figure {
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}

/*Headings*/
h1 {
    font-size: 36pt;
}
h2 {
    font-size: 28pt;
}
h3 {
    font-size: 20pt;
}
p {
    font-size: 16pt;
    line-height: 140%;
}
figcaption {
    font-size: 16pt;

}
ul {
    font-size: 16pt;
}
label {
    font-size: 16px;
}


.main {
    float: left;
    width: 60%;
}
